<h1 class="cads-page-title">Your cookie settings</h1>
<p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
<h2>Additional cookie settings</h2>
<p>These cookies are optional and are only set with your consent. You can manage your preferences at any time through our</p>

<%= form_for @cookie_preferences, method: :patch do |form| %>
  <div class="cads-form-field">
    <div class="cads-form-field__content cads-form-group cads-form-group--radio">
      <%= form.collection_radio_buttons :analytics, @cookie_preferences.analytics_options, :id, :name, required: true, label: "" do |b| %>
        <div class="cads-form-group__item">
          <%= b.radio_button(class: "cads-form-group__input") %>
          <%= b.label(class: "cads-form-group__label") %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.button "Save changes", class: "cads-button cads-button__primary" %>
<% end %>
