<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <% if flash[:notice] %>
      <div class="cookie-preferences__success-message" autofocus="true" role="status" aria-live="polite" tabindex="0">
        <%= render(CitizensAdviceCookiePreferences::SuccessMessage.new(message: flash[:notice], cookie_prefs_return_url: params[:return_url])) %>
      </div>
    <% end %>

    <h1 class="cads-page-title"><%=t("cookie_preferences.title")%></h1>

    <div class="cads-prose">
      <%= t("cookie_preferences.summary_html", page_url: how_we_use_cookies_url) %>
    <noscript>
      <%= render(CitizensAdviceComponents::Callout.new(type: :standard)) do %>
        <h3><%= t("cookie_preferences.no_js_title") %></h3>
        <%= t("cookie_preferences.no_js_callout_content_html") %>
    <% end%>
    </noscript>

    <div id="js-enabled-cookie-form" hidden aria-hidden="true">
      <%= form_for @cookie_preferences, url: @localised_engine_namespace.cookie_preference_path, method: :patch do |form| %>
        <div class="cads-form-field">
          <fieldset class="cads-form-field__content cads-form-group cads-form-group--radio">
            <legend>
              <%= t("cookie_preferences.form.analytic_cookies_header_html") %>
            </legend>
            <%= t("cookie_preferences.form.analytic_cookies_summary_html") %>
            <%= form.collection_radio_buttons :analytics, @cookie_preferences.analytics_cookies_options, :id, :name, required: true, label: "" do |b| %>
              <div class="cads-form-group__item">
                <%= b.radio_button(class: "cads-form-group__input") %>
                <%= b.label(class: "cads-form-group__label") %>
              </div>
            <% end %>
          </fieldset>
        </div>

        <div class="cads-form-field">
          <fieldset class="cads-form-field__content cads-form-group cads-form-group--radio">
            <legend>
              <%= t("cookie_preferences.form.video_player_cookies_header_html") %>
            </legend>
            <%= t("cookie_preferences.form.video_player_cookies_summmary_html") %>
            <%= form.collection_radio_buttons :video_players, @cookie_preferences.video_players_cookies_options, :id, :name, required: true, label: "" do |b| %>
              <div class="cads-form-group__item">
                <%= b.radio_button(class: "cads-form-group__input") %>
                <%= b.label(class: "cads-form-group__label") %>
              </div>
            <% end %>
          </fieldset>
        </div>
        <%= form.hidden_field :return_url, value: params[:return_url] %>

        <%= form.cads_button t("cookie_preferences.form.button_text") %>
        <%= t("cookie_preferences.change_your_mind_html") %>
      <% end %>
    </div>
    <%= t("cookie_preferences.ico_info_html") %>
    </div>
  <% end %>
<% end %>
